<h1> Movie Game Triva </h1>

<h2> Type a word to see movies related and play</h2>

<form action="/search" method="post">
  <input type="text" name="search_word"
      placeholder="search for a movie title" action="/search" method="post">

  <button type="submit">
    Search Movies
  </button>
</form>